

<ion-content  > 
  
 

  <ion-slides pager="true" style="height:100%">
  <ion-slide class="firstPageCss">
      <ion-grid >
        <ion-row  >
          <ion-col text-center size="12">
            <h1>Bienvenidos</h1>
          </ion-col>
        </ion-row> 
        <ion-row  >
          <ion-col text-center size="12">
            <img src="/assets/cepa.png" style="width:120px; ">
          </ion-col>
        </ion-row>
        <ion-row  >
          <ion-col text-center size="12">
            <p>A los hombres de los pueblos libres</p>
            <h1>Conciencia Emergente Popular</h1>
            <br>
            <p>             
              Los partidos existen para brindar un sano equilibrio al mundo democratico, 
              es de ellos el compromiso de una gran nación.
              <br><br><i>Carlos Peña</i> 
            <br><br>
            </p>
           
          </ion-col>
        </ion-row>  
        
      </ion-grid>
      
      
  </ion-slide>

  <ion-slide class="secondPageCss">
    <ion-grid >
        <ion-row  >
          <ion-col text-center size="12">
            <h1>Plataforma de interés política</h1>
          </ion-col>
        </ion-row> 
        <ion-row  >
          <ion-col text-center size="12">
            <h2>Iniciar sesión</h2>  
          </ion-col>
        </ion-row>  
        <ion-row  >
          <ion-col text-center size="4" >
              <img src="/assets/login/facebook.svg" style="width:45px">
          </ion-col>
          <ion-col text-center  size="4">
              <img src="/assets/login/google.svg" style="width:45px"> 
          </ion-col>
          <ion-col text-center size="4">          
              <img src="/assets/login/twitter.svg" style="width:45px">            
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-slide>

 
</ion-slides>


</ion-content>
